.personCol{
    display:flex;
    justify-content:center;
    font-size: clamp(12px, 1.2vw, 1.5vw);
}
.missionContainer {
    height:clamp( 30vh);
	font-size: 16px;
	background: #f8f9fa;
	padding: 50px;
	border-radius: 20px;
}

.missionTitle {
	font-size: clamp(30px, 2.8vw, 3.5vw);
	font-weight: 400;
	margin-bottom: 30px;
	color: #5688f0;
}

.missionContainer > p {
	color: #263069;
	margin-bottom: 15px;
    font-size: clamp(18px, 1.7vw, 2vw);
    line-height: 175%;

}

.statBannerRow {
	width: 80vw;
	color: white;
	margin: 0 auto;
}

.statBannerCol {
	height: 250px;
	display: flex;
	align-items: center;
	padding-left: 65px;
}

.statBannerCol > span > h1 {
	font-size: clamp(2.2vw,5.2vw, 80px);
}

.statBannerCol > span > p {
	font-size: clamp(2.2vw,4vw, 80px);
	text-transform: uppercase;
}

.footerHeader {
	background-image: url("../public/assets/Motive/background/Motiv-Dark.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}
.footerHeaderTitle {
	font-size: 2.1rem;
	padding-bottom: 20px;
	font-weight: 700;
}

.footerHeaderSubtitle {
	font-size: 1.4rem;
	max-width: 50vw;
	margin: 0 auto;
}
