.heroImage{
    flex-shrink: 1;
}

@media(max-width: 768px) {

    .topBackground {
        height: 95vh;
        max-width:100%;
        display: flex;
        align-items: flex-start;
        margin-top: 45px;
    }
    .sectionTopLeft{
        display: flex;
        justify-content: center;
    }
  
}