/* 
.sectionTop {
	height: calc(100vh - 80px);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 100%;
	width: 100%;
} */

@media(max-width: 768px){
    .heroImage{
        max-width: 30%;
        max-height: 30%;
    }
 
}