/* BG */
.networkBG {
    background-image: url("../public/assets/Motive/background/Motiv-p2.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.careerBG {
    background-image: url("../public/assets/Motive/background/Motiv-BG-2.svg");
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.iconsCenter {
    height: 80vh;
    display: flex;
    align-items: center;
}

.networkTitle {
    font-size: 3.5rem !important;
    font-weight: 400;
    margin: 20px 10px 35px 10px;
    color: #263069;
}

.sectionText {
    font-size: 1.5rem;
    font-weight: 350;
    color: #263069;
}

.icons {
    min-height: 100px;
    min-width: 100px;
}

.iconCol {
    flex-grow: 1;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.iconText,
.subtext {
    display: flex;
    font-size: 1rem;
    flex-shrink: 1;
    text-align: center;
    padding: 0px 40px 0 40px;
}

.subtext {
    font-size: 1rem;
    padding: 0 60px 0 60px;
}

@media (max-width: 768px) {
    .iconsCenter {
        height: 100%;
        display: flex;
        padding-bottom: 0px;
    }

    .iconCol {
        min-height: 50%;
        display: flex;
        justify-content: space;
        align-items: center;
        margin: 20px 0 20px 0;
    }

    .icons {
        width: 50%;
        height: 50%;
        flex-shrink: 1;
    }

    .iconText {
        color: rgb(153, 153, 153);
        font-family: "Lora", serif;
        font-family: "Playfair Display", serif;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 2.5rem;
    }

    /* .subtext {
        display: none;
    } */
}

/* Network Icons */

.networkContainer {
    min-height: 70vh;
}

.networkRow {
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.networkCol {
    border-radius: 23px;
    background: #ffffff;
    box-shadow:  5px 5px 40px #ccc,
    -5px -5px 30px #ffffff;
    height: clamp(35vh, 45vh, 50vh);
    width: clamp(35vh, 10vw, 50vh);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* padding-bottom: 10px; */
    flex-shrink: 1;
    margin: 10px 15px 30px 15px;
}

.networkIconsContainer {
    border-radius: 50%;
    position: relative;
    background: #ffffff;
    box-shadow: 6px 6px 39px #cccccc, -6px -6px 39px #ffffff;
    min-width: clamp(75px, 5vw, 125px);
    min-height: clamp(75px, 5vw, 125px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 5px 10px 0;
}

.networkText {
    color: #263069;
    font-weight: 700;
    margin: 10px 0px 5px 0px;
    display: flex;
    font-size: clamp(1.2rem, 1.4vw, 1.5vw) 
}

.networkSubtext {
    font-size: clamp(.8rem, .8vw, .8vw);
    margin: 10px 20px 5px 20px;
    color: #263069;

}

/* Footer Header */
.footerHeader {
    background-image: url("../public/assets/Motive/background/Motiv-Dark.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.footerHeaderTitle {
    font-size: 2.1rem;
    padding-bottom: 20px;
    font-weight: 700;
}

.footerHeaderSubtitle {
    font-size: 1.4rem;
    max-width: 50vw;
    margin: 0 auto;
}



@media (max-width: 768px) {
    .footerHeaderSubtitle {
        font-size: 1.4rem;
        margin: 10px
    }

    .topNetwokTitle {
        font-size: 3rem !important;
        color: red;
    }

    .networkRow {
        padding-bottom: 100px;
    }

    .networkCol {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .networkContainer {
        height: 100%;

    }

    .networkIcons {
        max-width: 50px;
        max-height: 50px;

    }

    .networkIconsContainer {
        margin: 30px;
        
    }
/* 
    .networkText {
        font-size: 3vw;
        font-weight: 400;


    }

    .networkSubtext {
        font-size: 1.2rem;
        margin: 20px;

    } */
}


@media (max-width: 768px) {
    .HeroAboutCol {
        margin-bottom: 100px;
    }

    .HeroAboutContainer {
        height: 100%;

    }

    .AboutHeroIcons {
        max-width: 50px;
        max-height: 50px;
    }

    .heroText {
        font-size: 1.5rem;
        line-height: 1.7;
    }

    .heroSubtext {
        font-size: 1.1rem;
        margin-bottom: 15px;
        ;
    }
}


@media (max-width: 768px) {
    .footerHeaderSubtitle {
        font-size: 1.1rem;
        max-width: 90vw;
    }

    .sectionTitle {
        font-size: 2rem !important;
        padding: 20px;
    }

    .sectionText {
        font-size: 1.2rem !important;
        padding: 15px 30px 15px 30px;
    }

}

@media (orientation: landscape) {


.networkContainer {
    min-height: 70vh;
}

.networkRow {
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.networkCol {
    border-radius: 23px;
    background: #ffffff;
    box-shadow:  5px 5px 40px #ccc,
    -5px -5px 30px #ffffff;
    height: clamp(35vh, 40vh, 50vh);
    width: clamp(35vh, 10vw, 50vh);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* padding-bottom: 10px; */
    flex-shrink: 1;
    margin: 10px 15px 30px 15px;
}

.networkIconsContainer {
    border-radius: 50%;
    position: relative;
    background: #ffffff;
    box-shadow: 6px 6px 39px #cccccc, -6px -6px 39px #ffffff;
    min-width: clamp(75px, 5vw, 125px);
    min-height: clamp(75px, 5vw, 125px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 5px 10px 0;
}

.networkText {
    color: #263069;
    font-weight: 700;
    margin: 10px 0px 5px 0px;
    display: flex;
    font-size: clamp(1.2rem, 1.4vw, 1.5vw) 
}

.networkSubtext {
    font-size: clamp(.8rem, .8vw, .8vw);
    margin: 10px 20px 5px 20px;
    color: #263069;

}
  }