.textCenter {
	text-align: center;
}

.title {
	font-size: 75px;
	font-weight: 600;
	margin: 20px 10px 50px 10px;
	color: #263069;
	line-height: 125%;
}

.subtitle {
	font-size: clamp(20px,1.7vw, 2.5vw);
	font-weight: 400;
	color: #263069;
	margin: 20px 10px 100px 10px;
}

@media (max-width: 768px) {
	.title {
		font-size: 35px;
	}
    .statBannerCol{
        font-size: 12px;
    }
}
